<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<style type="text/css">
	table{
		border-collapse: collapse;
		margin: 0 auto;
		width: fit-content;
	}
	th, td{
		padding: 5px 20px;
	}
	th{
		background: yellow;
	}
</style>
</head>
<body>
	<header>
	<th:block th:insert="~{/fragments/header.html :: header}">
	</header>
	
	<table border="1">
		<thead>
			<tr>
				<th>코드</th>
				<th>종류</th>
				<th>이름</th>
				<th>회사</th>
				<th>구매가격</th>
				<th>판매가격</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="merchandise : ${list}">
				<td><a th:href="@{/admin/merchandiseDetail(mno=${merchandise.mno})}">[[${merchandise.code}]]</a></td>
				<td th:text="${merchandise.type}"></td>
				<td th:text="${merchandise.name}"></td>
				<td th:text="${merchandise.company_name}"></td>
				<td th:text="${merchandise.buyprice}"></td>
				<td th:text="${merchandise.sellprice}"></td>
				<td><input type="button" value="재고 주문" th:onclick="|location.href='@{/admin/orderStockForm(mno=${merchandise.mno})}'|"></td>
			</tr>
		</tbody>
	</table>
	
	<footer>
	<th:block th:insert="~{/fragments/footer.html :: footer}">
	</footer>
	
</body>
</html>