<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<style type="text/css">
	table{
		margin: 0 auto;
		width: fit-content;
		border-collapse: collapse;
	}
	td{
		padding: 5px 20px;
	}
	#btns{
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		width: fit-content;
	}
	#btns input{
		margin: 0 10px;
		background: #4a8df7;
		color: white;
		padding: 5px;
	}
</style>
</head>
<body>
	
	<header>
	<th:block th:insert="~{/fragments/header.html :: header}">
	</header>
	<h1>상품 상세 페이지</h1>
	
	<table border="1">
		<tbody>
			<tr>
				<td>이미지</td>
				<td><img alt="상품 사진" th:src="@{${merchandiseDetail.imgPath}}"></td>
			</tr>
			<tr>
				<td>코드</td>
				<td th:text="${merchandiseDetail.code}"></td>
			</tr>
			<tr>
				<td>이름</td>
				<td th:text="${merchandiseDetail.name}"></td>
			</tr>	
			<tr>
				<td>종류</td>
				<td th:text="${merchandiseDetail.type}"></td>
			</tr>
			<tr>
				<td>매입가격</td>
				<td th:text="${merchandiseDetail.buyprice}"></td>
			</tr>
			<tr>
				<td>판매가격</td>
				<td th:text="${merchandiseDetail.sellprice}"></td>
			</tr>
			<tr>
				<td>회사</td>
				<td th:text="${merchandiseDetail.company_name}"></td>
			</tr>
		</tbody>
	</table>
	<div id="btns">
	<input type="button" value="수정" th:onclick="|location.href='@{/admin/updateForm(mno=${merchandiseDetail.mno})}'|">
	<input type="button" value="삭제" th:onclick="|location.href='@{/admin/delete(mno=${merchandiseDetail.mno})}'|">
	<input type="button" value="재고 주문" th:onclick="|location.href='@{/admin/orderStockForm(mno=${merchandiseDetail.mno})}'|">
	</div>
	
	<footer>
	<th:block th:insert="~{/fragments/footer.html :: footer}">
	</footer>
</body>
</html>