<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<style type="text/css">
	table{
		border-collapse: collapse;
		margin: 0 auto;
		width: fit-content;
	}
	form{
		margin-top: 5px;
		width: fit-content;
		margin: 0 auto;
	}
	form input{
		padding: 5px;
	}
	input[type="submit"]{
		background: #4a8df7;
		color: white;
	}
</style>
</head>
<body>
<header>
	<th:block th:insert="~{/fragments/header.html :: header}">
	</header>
	<h1>IndexAdmin</h1>
	
	<table border="1">
		<tbody>
			<tr>
				<td>이미지</td>
				<td><img alt="상품 사진" th:src="@{${merchandiseDetail.imgPath}}"></td>
			</tr>
			<tr>
				<td>코드</td>
				<td th:text="${merchandiseDetail.code}"></td>
			</tr>
			<tr>
				<td>이름</td>
				<td th:text="${merchandiseDetail.name}"></td>
			</tr>	
			<tr>
				<td>종류</td>
				<td th:text="${merchandiseDetail.type}"></td>
			</tr>
			<tr>
				<td>매입가격</td>
				<td th:text="${merchandiseDetail.buyprice}"></td>
			</tr>
			<tr>
				<td>판매가격</td>
				<td th:text="${merchandiseDetail.sellprice}"></td>
			</tr>
			<tr>
				<td>회사</td>
				<td th:text="${merchandiseDetail.company_name}"></td>
			</tr>
			<tr>
				<td>재고</td>
				<td th:text="${amount != null} ? ${amount} : '0'"></td>
			</tr>
		</tbody>
	</table>
	<form action="/admin/orderStock" method="post">
		<input type="hidden" name="mno" th:value="${merchandiseDetail.mno}">
		<input type="number" placeholder="주문 수량" name="amount" value="0">
		<input type="submit" value="주문하기">
	</form>
	<footer>
	<th:block th:insert="~{/fragments/footer.html :: footer}">
	</footer>
</body>
</html>