<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
		<th:block th:insert="~{/fragments/header.html :: header}">
	</header>

	<form action="/delivery/save" method="post" th:if="${deliveryDetail != null}">
		<input type="text" name="telephone" th:value="${deliveryDetail.telephone}">
		<input type="text" name="name" th:value="${deliveryDetail.name}">
		<input type="text" name="address1" th:value="${deliveryDetail.address1}">
		<input type="text" name="address2" th:value="${deliveryDetail.address2}">
		<input type="submit" th:value="수정">
	</form>
	<form action="/delivery/save" method="post" th:if="${deliveryDetail == null}">
		<input type="text" name="name" placeholder="수취인">
		<input type="text" name="telephone" placeholder="연락처">
		<input type="text" name="address1" placeholder="상세주소1">
		<input type="text" name="address2" placeholder="상세주소2">
		<input type="submit" th:value="저장">
	</form>
	
	<footer>
		<th:block th:insert="~{/fragments/footer.html :: footer}">
	</footer>
</body>
</html>