<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
	<th:block th:insert="~{/fragments/header.html :: header}">
	</header>
	
	<h1>Index</h1>
	
	<ul class="populars" th:each="popular : ${popularList}">
		<li><img alt="상품 사진" src=""></li>
		<li th:text="${popular.name}"></li>			
		<li th:text="${popular.sellprice}"></li>	
	</ul>
	
	<ul class="recents" th:each="recent : ${recentList}">
		<li><img alt="상품 사진" src=""></li>
		<li th:text="${recent.name}"></li>			
		<li th:text="${recent.sellprice}"></li>
	</ul>
	
	<footer>
	<th:block th:insert="~{/fragments/footer.html :: footer}">
	</footer>
</body>
</html>