<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<style type="text/css">
tr:hover {
	cursor: pointer;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	width: fit-content;
}
</style>
</head>
<body>

	<header>
		<th:block th:insert="~{/fragments/header.html :: header}">
	</header>
	<p th:if="${purchaseList == null}" th:text="'구매 내역이 없습니다.'"
		style="color: red; text-align: center;"></p>

	<table border="1" th:if="${purchaseList != null}">
		<thead>
			<tr>
				<th>이미지</th>
				<th>이름</th>
				<th>수량</th>
				<th>가격</th>
				<th>구매시각</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="purchase : ${purchaseList}"
				th:onclick="|location.href='@{/merchandise/detail(mno=${purchase.sno.mno.mno})}'|">
				<td><img alt="" th:src="@{${purchase.sno.mno.imgPath}}"
					onerror="this.src='/upload/noimage.png'"></td>
				<td th:text="${purchase.sno.mno.name}"></td>
				<td th:text="${purchase.pamount}"></td>
				<td th:text="${purchase.sno.mno.sellprice}"></td>
				<td th:text="${purchase.regdatetime}"></td>
			</tr>
		</tbody>
	</table>

	<footer>
		<th:block th:insert="~{/fragments/footer.html :: footer}">
	</footer>
</body>
</html>